@model TamaWebApp.TamaService.Tamagotchi

<p id="errorBox" class="text-center" style="color: red;" hidden>Er is een probleem ontstaan bij het verbinden met de server. Probeer het later nog eens!</p>
<div class="container">
    @Html.Partial("_TamaShowPartial")
    @Html.Partial("_TamaRuleMenuPartial")
    <div class="row">
        <div class="box">
            <div class="text-center">
                <div class="col-lg-12">
                    <iframe id="Cooldown" allowTransparency="true" frameborder="0" width="382" height="67"></iframe>
                    <hr />
                    <table class="table">
                        <th>Status</th>
                        <th>Waarde</th>
                        <th>Actie</th>
                        <tr class="h3">
                            <td>
                                Gezondheid
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Health)
                            </td>
                            <td>
                                @Html.ActionLink("Trainen", "Workout", "Tamagotchi", new { Id = Model.Id }, new { @class = "button-link" })
                            </td>
                        </tr>
                        <tr class="h3">
                            <td>
                                Honger
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Hunger)
                            </td>
                            <td>
                                @Html.ActionLink("Eten", "Eat", "Tamagotchi", new { Id = Model.Id }, new { @class = "button-link" })
                            </td>
                        </tr>
                        <tr class="h3">
                            <td>
                                Vermoeidheid
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Sleep)
                            </td>
                            <td>
                                @Html.ActionLink("Slapen", "Sleep", "Tamagotchi", new { Id = Model.Id }, new { @class = "button-link" })
                            </td>
                        </tr>
                        <tr class="h3">
                            <td>
                                Verveeldheid
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Boredom)
                            </td>
                            <td>
                                @Html.ActionLink("Knuffelen", "Hug", "Tamagotchi", new { Id = Model.Id }, new { @class = "button-link" })
                                @Html.ActionLink("Spelen", "Play", "Tamagotchi", new { Id = Model.Id }, new { @class = "button-link" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        GetCooldown(@Model.Id);
    });

    function GetCooldown(inputid) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCooldown", "Tamagotchi")',
            data: { id: inputid },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function (msg) {
                    $("#Cooldown").attr("src", "http://free.timeanddate.com/countdown/i4zxrl1c/n1310/cf12/cm1/cu4/ct4/cs1/ca0/co1/cr0/ss0/cac555/cpc090/pct/tcfff/fs100/szw448/szh189/tatVolgende%20actie%20beschikbaar%20in%3A/tac555/tptActie%20beschikbaar!/tpc090/" + msg.status);
            },
            error: function (e) {
                alert(e.status)
            }
        });
    };
</script>